@import '../../../App.scss';

.dashboard {
    margin: 10px;
    display: flex;
    gap: 10px;
    height: calc(100vh - 140px);
    
    .left-section {
        width: 70%;
        border: 3px dotted var(--cloud-blue);
    }

    .right-section {
        width: 30%;
        border: 3px dotted var(--cloud-blue);
    }
}

.story-constainer {
    width: 100%;

    .story-scroller{
        // background-color: #333;
        
        overflow: auto;
        white-space: nowrap;
        gap: 10px;
        padding: 14px 0;

        .story{
            width: 300px;
            min-height: 200px;
            display: inline-block;
            color: var(--cloud-black);
            text-align: center;
            padding: 14px;
            text-decoration: none;
            margin: 6px;
            border: 1px solid var(--cloud-black);
            border-radius: 0 0 4px 4px;
            display: inline-table;
            box-shadow: 0px 3px 5px #bababa7d;

            .hover-story-title{
                transform: translate(0, -34px);
                font-size: 24px;
                font-weight: 600;
                width: fit-content;
                margin: auto;
                padding: 0 6px;
                background: white;
            }
        }
    }
}


.ticket-container {
    width: 280px;
    border: 1px dotted var(--cloud-blue);
    margin: 6px 0;
    cursor: pointer;
}

.chat{
    padding: 10px;

    .chat-title{
        cursor: pointer;
    }
}

.accordion-header{
    .accordion-button{
        border: none;
        font-size: 16px;
        width: 100%;
        text-align: left;
        background-color: var(--cloud-blue);
        color: var(--cloud-white);
        outline: none;
        border-radius: 4px;
    }   
}


.accordion-body{
    max-height: 240px;
    overflow-y: scroll;
}

.custom-tooltip {
    text-align: left;
    padding: 4px 12px;
    border: 1px dashed var(--cloud-white);
}

