@import '../../../App.scss';

.dashboard {
    margin: 10px;
    display: flex;
    gap: 10px;
    // height: calc(100vh - 140px);
    
    .left-section {
        width: 70%;
        // border: 3px dotted var(--cloud-blue);
    }

    .right-section {
        width: 30%;
        // border: 3px dotted var(--cloud-blue);
    }
}

.story-constainer {
    width: 100%;
    height: fit-content;

    .story-scroller{
        margin: 20px 0;
        overflow: auto;
        white-space: nowrap;
        gap: 10px;
        padding: 24px 0;

        .story{
            width: 200px;
            min-height: 200px;
            display: inline-block;
            color: var(--cloud-black);
            text-align: center;
            padding: 14px;
            text-decoration: none;
            margin: 6px;
            border-radius: 10px;
            border: none;
            display: inline-table;
            box-shadow: inset 10px 10px 10px rgb(0, 0, 0, 0.05), 15px 25px 10px rgb(0, 0, 0, 0.05), 15px 20px 20px rgb(0, 0, 0, 0.05), inset -10px -10px 15px rgb(255, 255, 255, 0.9);

            .hover-story-title{
                transform: translate(0, -34px);
                font-size: 24px;
                font-weight: 600;
                width: fit-content;
                margin: auto;
                padding: 0 6px;
                background: transparent;
                display: flex;

                .story-count{
                    width: 32px;
                    height: 32px;
                    line-height: 28px;
                    border-radius: 16px;
                    top: 4px;
                    position: relative;
                    margin-left: 6px;
                    background-color: var(--cloud-blue);
                    color: var(--cloud-white);
                }

                .story-add {
                    width: 32px;
                    height: 32px;
                    line-height: 28px;
                    border-radius: 16px;
                    top: 4px;
                    position: relative;
                    margin-left: 6px;
                    background-color: var(--light-grey-1);
                    color: var(--cloud-blue);
                    cursor: pointer;
                }
            }
        }
    }

    .story-scroller::-webkit-scrollbar {
        background: transparent; /* Chrome/Safari/Webkit */
        width: 0px;
    }
}


.ticket-container {
    width: 240px;
    height: 210px;
    margin: 6px 0;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--cloud-white);
    padding: 10px;

    box-shadow: inset 1px 2px 5px rgb(0, 0, 0, 0.1), inset -1px -2px 5px rgb(255, 255, 255, 1), 7px 7px 5px rgb(0, 0, 0, 0.05), 7px 5px 7px rgb(0, 0, 0, 0.25);

    .ticket-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ticket-duedate {
            border-radius: 6px;
            background-color: var(--cloud-blue);
            color: var(--cloud-white);
            padding: 2px 6px;
        }

        .ticket-duedate.expired {
            background-color: var(--cloud-red);
        }

        .ticket-duedate.expired-in-10-days {
            background-color: var(--cloud-orange);
        }

        .ticket-edit {
            color: var(--cloud-blue);
            font-size: 20px;
        }
    }

    .ticket-body {
        color: var(--grey-1);

        .ticket-title {
            display: flex;
            align-items: start;
            overflow: hidden;
            font-size: 18px;
            font-weight: 700;
            margin: 4px 0;
        }

        .ticket-description {
            white-space: normal;
            overflow: hidden;
            height: 70px;
            text-align: left;
        }

        .ticket-checklist {
            display: flex;
            gap: 10px;
            align-items: center;
            margin: 4px 0;
        }
    }

    .ticket-footer {
        color: var(--grey-1);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tciekt-attachments {
            display: flex;
            gap: 4px;
            align-items: center;
            margin: 4px 0;
            width: 20%;
        }

        .tciekt-comments {
            display: flex;
            gap: 4px;
            align-items: center;
            margin: 4px 0;
            width: 20%;
        }

        .tciekt-assignees {
            width: 60%;
            display: flex;
            gap: 4px;
            align-items: center;
            justify-content: end;
            margin: 4px 0;

            .assignee {
                width: 24px;
                height: 24px;
                line-height: 24px;
                color: var(--cloud-white);
                background-color: rgb(0, 0, 0, 0.2);
                border: none;
                border-radius: 12px;
            }
        }
    }
}

.chat{
    padding: 10px;
    position: sticky;
    top: 20px;
    border: 1px dotted var(--cloud-blue);
    height: calc(100vh - 140px);

    .chat-title{
        cursor: pointer;
    }
}

.accordion-header{
    .accordion-button{
        border: none;
        font-size: 16px;
        width: 100%;
        text-align: left;
        background-color: var(--cloud-blue);
        color: var(--cloud-white);
        outline: none;
        border-radius: 4px;
    }   
}

.accordion-body{
    max-height: 240px;
    overflow-y: scroll;
}

.custom-tooltip {
    text-align: left;
    padding: 4px 12px;
    border: 1px dashed var(--cloud-white);
}

