:root {
  --cloud-blue: #1c83a5;
  --cloud-gold: #be9b4c;
  --cloud-white: #ffffff;
  --cloud-black: #242424;

  --grey-1: #57595d;
  --grey-2: #686a6d;
  --grey-3: #797a7d;

  --bronze-1: #74532d;
  --bronze-2: #8e5b2c;

  --dark-grey-1: #2d2d39;
  --dark-grey-2:  #25252b;

  --light-pink-1: #fcc7cf;
  --light-pink-2: #fde3e6;
  --light-pink-3: #e36b89;

  --green-1: #008140;
}